profiles {

    local {
        process.executor = "local"
    }
    cluster {
        process.executor = "pbspro"
        process.clusterOptions = "-S /bin/bash -v PATH=$HOME/snake/bin:$PATH"
    }

}

params {

  fastq = "st59/*_{1,2}.fq.gz"
  outdir = "st59_phybeast_1"

  metadata = "st59/st59.csv"
  reference = "st59/m03.fasta"

  snippy = ""
  recombination = true
  phylogeny = "raxml"
  model = "GTR+G+ASC_LEWIS"

  clock = "lsd"
  date_test = true
  replicates = 1..200

}

process {

  errorStrategy = "ignore"
  scratch = true

  conda = "$HOME/conda/envs/pf-core"

  withLabel: data {
      cpus = 4
      memory = "8G"
      time = "2h"
  }

  withLabel: alignment {
      cpus = 8
      memory = "16G"
      time = "2h"
  }

  withLabel: phylogeny {
      cpus = 8
      memory = "8G"
      time = "128h"
  }

}
