profiles {

    local {
        process.executor = "local"
    }
    cluster {

        process.scratch = true
        process.executor = "pbspro"
        process.clusterOptions = "-S /bin/bash -v PATH=$PATH"

        singularity.enabled = true
        process.container = '$HOME/singularity_images/phybeast.dev.simg'
    }

}

params {

  fastq = "/rdsi/vol08/Q0220/Eike/scratch/bengal/test/*_{1,2}.fq.gz"

  outdir = "/rdsi/vol08/Q0220/Eike/scratch/bengal/test/test_run"
  metadata = "/rdsi/vol08/Q0220/Eike/scratch/bengal/test/st772.test.tab"
  reference = "/rdsi/vol08/Q0220/Eike/scratch/bengal/test/dar4145.fasta"

  snippy = ""
  recombination = true
  phylogeny = "raxml"
  model = "GTR+G+ASC_LEWIS"
  clock = "lsd"
  date_test = true
  replicates = 100

}

process {

  errorStrategy = "ignore"

  withLabel: data {
      cpus = 4
      memory = "8G"
      time = "2h"
  }

  withLabel: alignment {
      cpus = 4
      memory = "8G"
      time = "2h"
  }

  withLabel: recombination {
      cpus = 8
      memory = "16G"
      time = "2h"
  }

  withLabel: phylogeny {
      cpus = 8
      memory = "8G"
      time = "128h"
  }

}
