profiles {

    local {
        process.executor = "local"
    }
    cluster {
        process.executor = "pbspro"
        process.clusterOptions = "-S /bin/bash -v PATH=$HOME/conda/bin:$PATH"
    }

}

params {

  fastq = "/data/test/st59/*_{1,2}.fq.gz"

  outdir = "/data/test/st59/test_run"
  metadata = "/data/test/st59/st59.tab"
  reference = "/data/test/m03.fasta"

  snippy = ""
  recombination = true
  phylogeny = "raxml"
  model = "GTR+G+ASC_LEWIS"

  clock = "lsd"
  date_test = true
  replicates = 200

}

process {

  errorStrategy = "ignore"

  withLabel: data {
      cpus = 4
      memory = "8G"
      time = "2h"
  }

  withLabel: alignment {
      cpus = 4
      memory = "8G"
      time = "2h"
  }

  withLabel: recombination {
      cpus = 8
      memory = "16G"
      time = "2h"
  }

  withLabel: phylogeny {
      cpus = 8
      memory = "8G"
      time = "128h"
  }

}
